#LP1 {
    animation: morphLP1 5s infinite;
}

@keyframes morphLP1 {

    0%,
    100% {
        d: path('M0 767L45.7 748.3C91.3 729.7 182.7 692.3 274.2 681.3C365.7 670.3 457.3 685.7 548.8 691.5C640.3 697.3 731.7 693.7 823 701.3C914.3 709 1005.7 728 1097 738.8C1188.3 749.7 1279.7 752.3 1371.2 759.5C1462.7 766.7 1554.3 778.3 1645.8 771.2C1737.3 764 1828.7 738 1874.3 725L1920 712L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');
    }

    50% {
        d: path('M0 653L45.7 668.8C91.3 684.7 182.7 716.3 274.2 729.5C365.7 742.7 457.3 737.3 548.8 723.3C640.3 709.3 731.7 686.7 823 696C914.3 705.3 1005.7 746.7 1097 759.3C1188.3 772 1279.7 756 1371.2 743.7C1462.7 731.3 1554.3 722.7 1645.8 731.8C1737.3 741 1828.7 768 1874.3 781.5L1920 795L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z')
    }
}

#LP2 {
    animation: morphLP2 5s infinite;
}

@keyframes morphLP2 {

    0%,
    100% {
        d: path('M0 732L45.7 728.2C91.3 724.3 182.7 716.7 274.2 738.2C365.7 759.7 457.3 810.3 548.8 824.5C640.3 838.7 731.7 816.3 823 812.3C914.3 808.3 1005.7 822.7 1097 812.7C1188.3 802.7 1279.7 768.3 1371.2 753C1462.7 737.7 1554.3 741.3 1645.8 751C1737.3 760.7 1828.7 776.3 1874.3 784.2L1920 792L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');
    }

    50% {
        d: path('M0 739L45.7 754.8C91.3 770.7 182.7 802.3 274.2 814.3C365.7 826.3 457.3 818.7 548.8 801.5C640.3 784.3 731.7 757.7 823 742C914.3 726.3 1005.7 721.7 1097 743.7C1188.3 765.7 1279.7 814.3 1371.2 816.2C1462.7 818 1554.3 773 1645.8 762.8C1737.3 752.7 1828.7 777.3 1874.3 789.7L1920 802L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z')
    }
}

#LP3 {
    animation: morphLP3 5s infinite;
}

@keyframes morphLP3 {

    0%,
    100% {
        d: path('M0 867L45.7 870.8C91.3 874.7 182.7 882.3 274.2 871.7C365.7 861 457.3 832 548.8 829.7C640.3 827.3 731.7 851.7 823 866.7C914.3 881.7 1005.7 887.3 1097 873.8C1188.3 860.3 1279.7 827.7 1371.2 818.5C1462.7 809.3 1554.3 823.7 1645.8 837.8C1737.3 852 1828.7 866 1874.3 873L1920 880L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');
    }

    50% {
        d: path('M0 844L45.7 848C91.3 852 182.7 860 274.2 870C365.7 880 457.3 892 548.8 887.8C640.3 883.7 731.7 863.3 823 861.3C914.3 859.3 1005.7 875.7 1097 868C1188.3 860.3 1279.7 828.7 1371.2 826.7C1462.7 824.7 1554.3 852.3 1645.8 852.7C1737.3 853 1828.7 826 1874.3 812.5L1920 799L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z')
    }
}

#LP4 {
    animation: morphLP4 5s infinite;
}

@keyframes morphLP4 {

    0%,
    100% {
        d: path('M0 892L45.7 892.8C91.3 893.7 182.7 895.3 274.2 903.3C365.7 911.3 457.3 925.7 548.8 930.7C640.3 935.7 731.7 931.3 823 925.7C914.3 920 1005.7 913 1097 908.3C1188.3 903.7 1279.7 901.3 1371.2 900C1462.7 898.7 1554.3 898.3 1645.8 894.5C1737.3 890.7 1828.7 883.3 1874.3 879.7L1920 876L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');
    }

    50% {
        d: path('M0 967L45.7 952.2C91.3 937.3 182.7 907.7 274.2 901C365.7 894.3 457.3 910.7 548.8 926.7C640.3 942.7 731.7 958.3 823 960.3C914.3 962.3 1005.7 950.7 1097 951C1188.3 951.3 1279.7 963.7 1371.2 952.8C1462.7 942 1554.3 908 1645.8 906.5C1737.3 905 1828.7 936 1874.3 951.5L1920 967L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z')
    }
}

#LP5 {
    animation: morphLP5 5s infinite;
}

@keyframes morphLP5 {

    0%,
    100% {
        d: path('M0 989L45.7 993.2C91.3 997.3 182.7 1005.7 274.2 999.7C365.7 993.7 457.3 973.3 548.8 968.5C640.3 963.7 731.7 974.3 823 976.5C914.3 978.7 1005.7 972.3 1097 977.5C1188.3 982.7 1279.7 999.3 1371.2 1003.7C1462.7 1008 1554.3 1000 1645.8 990.5C1737.3 981 1828.7 970 1874.3 964.5L1920 959L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');
    }

    50% {
        d: path('M0 1008L45.7 998.2C91.3 988.3 182.7 968.7 274.2 967.8C365.7 967 457.3 985 548.8 990.2C640.3 995.3 731.7 987.7 823 978.7C914.3 969.7 1005.7 959.3 1097 961.2C1188.3 963 1279.7 977 1371.2 979.8C1462.7 982.7 1554.3 974.3 1645.8 967.3C1737.3 960.3 1828.7 954.7 1874.3 951.8L1920 949L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z')
    }
}

::-webkit-scrollbar {
    background-color: rgb(0, 0, 0, 0.0);
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: rgb(0, 0, 0, 0.0);
}

::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from(#a8a8a8),
            to(#a8a8a8),
            color-stop(.6, #a8a8a8));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 0, 0, 0.0);
    background: #757575;
}

.react-toggle {
    touch-action: pan-x;

    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #E3F2FD;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.react-toggle--checked .react-toggle-track {
    background-color: #E3F2FD;
}

.react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
    opacity: 0;
}

.react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #E3F2FD;
    border-radius: 50%;
    background-color: #54667A;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #E3F2FD;
}